<h2>Welcome to Admin View of All Users, Click Below to View All Users</h2>
<button class="view-users">View All Users</button>

<div class="users"><ul class="users-list"><li>...</li></ul></div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    bindShowUsersButton();
  });
</script>